# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# Virtual environment
venv/
ENV/

# IDE settings
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3
*.db
